@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Parisienne&family=Playball&display=swap');

:root {
    --fonte1: "Playball", cursive;
    --fonte2:"Great Vibes", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('imagens/imglove05.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: center;   
    background-color: rgb(96, 159, 214);
    width: 400px;
    margin: auto;
    border-radius: 20px;
    font-family: var(--fonte1);
}

section {
    margin: auto;
    padding-left: 30%;
}
section > img {
    width: 200px;
    height: 230px;
    background-size: cover;
    border-radius: 50px;
    margin-top: 4px;
}
main {
    width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.389);
    border-radius: 10px;
}
main > p {
    text-indent: 10px;
    padding: 10px;
}
footer {
    width: 250px;
    margin: auto;
    padding: 10px;
    text-indent: 15px;
    background-image: linear-gradient(to top, rgb(61, 12, 61),pink);
    font-family: var(--fonte2);
    font-size: 20px;
}
