@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');

:root {
    --fonte1: "Parisienne", cursive; ;
    --fonte3:"Dancing Script", cursive;
}
body {
    background-image: url('imagens/fundo1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
header {
    margin: auto;
}
div {
    text-align: center;
    color: rgb(238, 134, 254);
    font-family: var(--fonte1);
    font-size: 35px;
}
header > p {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: var(--fonte3);
    font-size: 25px;
}
 a {
    text-decoration: none;
    background-image: linear-gradient(to right,rgb(106, 19, 106), rgb(96, 149, 224));
    color: rgb(41, 9, 41);
    font-size: 30px;
    padding: 8px;
    font-family: var(--fonte3);
    font-weight: bolder;
    border-radius: 25px;

 }

 div > img {
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid rgb(23, 13, 32);
 }

