@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&family=Playball&display=swap');

:root {
    --fonte1: "Playball", cursive;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url('imagens/imglove05.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header {
    text-align: center;   
    background-color: rgb(96, 159, 214);
    width: 400px;
    margin: auto;
    border-radius: 20px;
    font-family: var(--fonte1);
}
section {
    margin: auto;
    padding-left: 30%;
}
section > img {
    width: 200px;
    height: 230px;
    background-size: cover;
    border: 4px solid rgb(53, 8, 71);
    border-radius: 30%;
    margin-top: 4px;
}
main {
    width: 300px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.389);
}
main > p {
    text-indent: 10px;
    padding: 10px;
}
